<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>qcciwebstaging/qccicrm/preacknowledgement</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qcciwebstaging</MSDeployServiceURL>
    <DeployIisAppPath>QcciCRM</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>qcci/gnewswanger</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QCCOrderEntryConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=QCCSQL;Initial Catalog=QCCOrderEntry;Integrated Security=False;User ID=QCCISQLUser;Password=E3r5,t9" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QCCOrderEntryConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=QCCSQL;Initial Catalog=QCCOrderEntry;Integrated Security=False;password=E3r5,t9;user id=QCCISQLUser" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SalesOrderConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qccsql;Initial Catalog=SalesOrder;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SalesOrderConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qccsql;Initial Catalog=SalesOrder;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QCCIWebConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=QCCSQL;Initial Catalog=QCCIWeb;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QCCIWebConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=QCCSQL;Initial Catalog=QCCIWeb;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MFGConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qccsql;Initial Catalog=MFG;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MFGConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qccsql;Initial Catalog=MFG;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CRMConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=QCCSQL;Initial Catalog=CRMStaging;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CRMConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=QCCSQL;Initial Catalog=CRMStaging;Persist Security Info=True;User ID=QCCISQLUser;Password=E3r5,t9" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VFPConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=\\qccsqldata\FOXDATA\PRO25W\SODATA\;User ID=FoxTableAccess;Password=false" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VFPConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=\\qccsqldata\FOXDATA\PRO25W\SODATA\;User ID=FoxTableAccess;Password=false" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=VFPOLEDB.1;Data Source=\\qccsqldata\FOXDATA\PRO25W\SODATA;User ID=FoxTableAccess" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=VFPOLEDB.1;Data Source=\\qccsqldata\FOXDATA\PRO25W\SODATA;User ID=FoxTableAccess" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>